:root {

    /* Color styles */
    --bleu-fonce: rgba(5, 7, 56, 1);
    --noir: rgba(24, 24, 24, 1);
    --gris-clair: rgba(240, 240, 240, 1);
    --doree: rgba(208, 149, 47, 1);
    --blanc: rgba(253, 253, 253, 1);

    /* Text-size styles */
    --title: 28px;
    --heading-1: 24px;
    --headinf-2: 16px;
    --heading-3: 14px;
    --button: 12px;
    --text2: 16px;
    --small: 12px;
    --bold: 14px;
    --text: 14px;

    /* Polices de caractère */
    --font-website: 'Quicksand', sans-serif;

    /* Espaces */
    --space1x: 8px;
    --space2x: 16px;
    --space3x: 24px;
    --space4x: 48px;
    --space5x: 80px;
    --space6x: 150px;

}