.accueil__img-harrypotter {
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    max-width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.article__text {
    color: var(--noir);
    font-size: var(--text);
    font-family: var(--font-website);
    font-weight: 400;
    padding: var(--space2x);
}

.article__title {
    font-size: var(--heading-1);
    font-family: var(--font-website);
    font-weight: 500;
    color: var(--doree);
    text-align: center;
}

.BA__film {
    max-width: 100%;
    padding-left: var(--space3x);
}